{% extends "base.html" %}

{% block title %}
{{ series.name }}
{% endblock %}

{% block content %}

<h1>{{ series.name }}</h1>

<!-- If series has cover -->
{% if series.cover %}
<img src="{{ series.cover.url }}" /></br>
{% endif %}


Hepburn - {{ series.hepburn }}</br>
Description - {{ series.description }}</br>
Owner - <a href="{% url "view_profile" series.owner.username %}">{{ series.owner.username }}</a>
{% if series.owner.profile.channel %}
of <a href="{% url "channel:channel_detail" series.owner.profile.channel.slug %}">{{ series.owner.profile.channel.name }}</a>
{% endif %}</br>

<!-- Optmize above code in view -->

Created on - {{ series.created }}</br>
Updated on - {{ series.updated }}</br>

<h2>Season List</h2>
{% for season in seasons %}
{{ season.name }}</br>
{% for episode in season.episodes.all %}
{{ episode.order }}. {{ episode.title }} - <a href="{% url "watchplace:episode_detail" episode.id episode.slug %}">Watch</a></br>
{% empty %}
No episodes yet.
{% endfor %}
</br>
{% empty %}
No seasons yet.
{% endfor %}

<!-- Comments -->
<h1>Comments</h1>
{% for comment in series.comments.all %}
<div class="comment{% if comment.user.profile in series.owner.profile.channel.members.all %} admin{% endif %}">
    <a href="{% url "view_profile" comment.user.username %}">{{ comment.user.username }}</a>
    {{ comment.created }}</br>
    {{ comment.body }}
</div>
{% empty %}
No one commented, be out first.
{% endfor %}

{% endblock %}