{% extends "base.html" %}

{% block title %}
{{ series.name }}
{% endblock %}

{% block content %}

<h1>{{ series.name }}</h1>
{% if series.cover %}
<img src="{{ series.cover.url }}" /></br>
{% endif %}
Hepburn - {{ series.hepburn }}</br>
Description - {{ series.description }}</br>
Owner - <a href="{% url "view_profile" series.owner.username %}">{{ series.owner.username }}</a></br>
Created on - {{ series.created }}</br>
Updated on - {{ series.updated }}</br>

<h2>Season List</h2>
{% for season in seasons %}
{{ season.name }}</br>
{% for episode in season.episodes.all %}
{{ episode.order }}. {{ episode.title }} - <a href="{% url "watchplace:episode_detail" episode.id episode.slug %}">Watch</a></br>
{% empty %}
No episodes yet.
{% endfor %}
</br>
{% empty %}
No seasons yet.
{% endfor %}

{% endblock %}