{% extends "base.html" %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

Welcome {{ user.first_name }}</br>

<!-- Put img  in if, since image is null at first -->
{% if user.profile.picture %}
Pic - <img src="{{ user.profile.picture.url }}"></br>
<!-- If no 'if', file not found error -->
{% endif %}

<!-- Check whether user is uploader -->
{% if user.profile.channel %}
Oh - it's you. You are a member of <a href="{% url "channel:channel_detail" user.profile.channel.slug %}">{{ user.profile.channel.name }}</a>.</br>
<a href="{% url "channel:channel_update" %}">Edit</a> your channel?</br>
Or <a href="{% url "sauce:series_list" %}">Upload some</a>.
{% endif %}

Born on - {{ user.profile.date_of_birth }}</br>
Desc - {{ user.profile.description }}</br>
<a href="{% url "watchplace:series_list" %}">Watchplace</a></br>
<a href="{% url "password_change" %}">Change password</a>?</br>
<a href="{% url "profile_edit" %}">Edit profile</a>?</br>
<a href="{% url "logout" %}">Logout</a>?
{% endblock %}